body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    height: 120px;
    padding: 10px 10px;
}

button:hover {
    background-color: green;
    color: white;
}

button::before {
    content: 'Pasa por encima';
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

button:hover::before {
    content: "¡Hecho!";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

